{% extends "base.html" %}

{% block content %}

<h3>Create user</h3>

<form method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="userName">User name</label>
        <input type="text" name="userName" id="userName" value="{{preferences.userName}}" class="form-control"/>
    </div>

    <div class="form-group">
        <label for="climate">Climate</label>
        <select id="climate" name="climate" class="form-control">
            {% for climate in options %}
            <option value="{{climate.ClimateName}}">{{climate.ClimateName}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="population">Population</label>
        <input type="text" name="population" id="population" value="{{preferences.population}}" class="form-control"/>
    </div>

    <div class="checkbox">
        <label for="education">
            <input type="checkbox" name="education" id="education" value="yes"/> International education
        </label>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
</form>
{% endblock %}