{% extends "base.html" %}

{% block content %}

<h3>Create user</h3>

<form method="POST" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-5 well">
            <div class="form-group">
                <label for="userName">User name</label>
                <input type="text" name="userName" id="userName" class="form-control"/>
            </div>

            <div class="form-group">
                <label for="climate">Climate</label>
                <select id="climate" name="climate" class="form-control">
                    <option>Select a climate...</option>
                    {% for climate in options %}
                    <option value="{{climate.ClimateName}}">{{climate.ClimateName}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="population">Population</label>
                <input type="text" name="population" id="population" class="form-control"/>
            </div>

            <div class="checkbox">
                <label for="education">
                    <input type="checkbox" name="education" id="education" value="true"/> International education
                </label>
            </div>
        </div>

        <div class="col-md-5 col-md-offset-1 well">
            <div class="form-group">
                <label for="userName">Except these countries</label>

                {% for country in countries %}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="exceptCountries" value="{{country.CountryName}}"/>{{country.CountryName}}
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
</form>

{% endblock %}