{% extends "base.html" %}

{% block content %}

<h3>Country</h3>

<form method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="country">Select Country:  </label>
        <select name="country" id="country" onchange="if (this.value) window.location.href = this.value;">
            {% for country in countries %}
                {% if users == None %}
                    <option value="/RelocationCountry/{{country.Code}}">{{country.Code}}</option>
                {% else %}
                    {% if country.Code == countrycode %}
                    <option value="/RelocationCountry/{{country.Code}}" selected="selected">{{country.Code}}</option>
                    {% else %}
                    <option value="/RelocationCountry/{{country.Code}}">{{country.Code}}</option>
                    {% endif %}
                {% endif %}
            {% else %}
                <option value="Nocountry">No country selected.</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <nav>
            <ul>
                {% if users != None %}
                    {% for user in users %}
                        <li>User: {{user['UserName']}}</li>
                    {% endfor %}
                {% endif %}
                <br/>
            </ul>
        </nav>
    </div>

</form>

{% endblock %}