{% extends "base.html" %}

{% block content %}

<h3>Relocation per country</h3>

<form method="POST" enctype="multipart/form-data">
    <div class="row">
        <div class="form-group col-md-9">
            <label for="vmap">Select a country</label>
            <div id="vmap" style="width: 800px; height: 600px;"></div>
        </div>

        <div class="col-md-3 list-group">
            <label>Users willing to be relocated</label>
            {% if users != None %}
            {% for user in users %}
            <a href="#" class="list-group-item">{{user['UserName']}}</a>
            {% endfor %}
            {% endif %}
        </div>
    </div>

    <input type="hidden" class="selectedCountry" value="{{countrycode}}"/>
</form>

<script>
    $(document).ready(function () {

        var selectedCountry;

        $('#vmap').vectorMap({
            map: 'world_en',
            backgroundColor: '#a5bfdd',
            borderColor: '#818181',
            borderOpacity: 0.25,
            borderWidth: 1,
            enableZoom: true,
            hoverColor: '#052E8C',
            normalizeFunction: 'linear',
            selectedColor: '#052E8C',
            onRegionClick: function (element, code, region) {
                $(".selectedCountry").val(code);
                window.location.href = "/RelocationCountry/" + code.toUpperCase();
            },
            selectedRegions: $(".selectedCountry").val()
        });
    });
</script>

{% endblock %}