{% extends "base.html" %}

{% block content %}

<h3>Users</h3>

<form method="GET" enctype="multipart/form-data">
    <div class="form-group">
        <label for="user">Users: </label>
        <select name="user" id="user" onchange="if (this.value) window.location.href = this.value;">
            {% for user in users %}
                {% if countries == None %}
                    <option value="/ShowUserPreferences/{{user.UserName}}">{{user.UserName}}</option>
                {% else %}
                    {% if user.UserName == username %}
                    <option value="/ShowUserPreferences/{{user.UserName}}" selected="selected">{{user.UserName}}</option>
                    {% else %}
                    <option value="/ShowUserPreferences/{{user.UserName}}">{{user.UserName}}</option>
                    {% endif %}
                {% endif %}
            {% else %}
            <option value="No employee found">No employee found</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <nav>
            <ul>
                {% if countries != None %}
                    {% for country in countries %}
                        <li>Country: {{country['CountryName']}}</li>
                    {% endfor %}
                {% endif %}
                <br/>
            </ul>
        </nav>
    </div>
</form>

{% endblock %}